html,body{
    padding-left: 50px;
    padding-right: 50px;
}

*{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: bold;

    color: #F8F8F2;
    background-color: #282A36;

}


.selected{
    background-color:#6272A4 ;
}
